/**
 * Radial cursor
 */
#mouse-circle {
  position: absolute;
  width: 64px;
  height: 64px;
  margin: -32px 0 0 -32px;
  border: 1px solid #0f1c64;
  border-radius: 50%;
  pointer-events: none;
}

.colorSet1 {
  margin-top: 25px;
  margin-bottom: 10px;
}
.colorSet2 {
  margin-top: 10px;
  margin-bottom: 25px;
}

.color-button {
  height: auto;
  width: auto;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  background-image: none;
  border: 0 none;
  padding: 1px !important;
}

.color-button:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}
.color-button:hover {
  transform: scale(1.8);
}

.tools {
  margin-top: 25px;
}
.tool-buttons {
  margin: 5px;
}
